{% load static %}
<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Homepage |  Livingston Co-op</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- OneTel Template http://www.templatemo.com/tm-468-onetel-->
        <!-- stylesheet css -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/nivo-lightbox.css' %}">
        <link rel="stylesheet" href="{% static 'css/default.css' %}">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <!--google web font css-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700" >

        
        <link rel="stylesheet" href="{% static 'css/home.css' %}">   
        
        <!--bootstrap-->
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->


</head>
<body> 
    <!--navigation bar-->
        <div class="container">
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand"><img src="{% static 'images/Coop-5.gif' %}" class="img-responsive" alt="logo"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'index' %}" class="active">HOME</a></li>
                        <li><a href="{% url 'members' %}">Members</a></li>
                        <li><a href="{% url 'treasurerreport' %}">Treasurer Reports</a></li>
                        <li><a href="#">Users</a></li>
                    </ul>
                </div>
            </div>
        </div>
    <!--home-->
    <div id="home">
        <div class="container">
                <div class="row">
                        <div class="col-md-5 col-sm-3"></div>
                        <div class="col-md-7 col-sm-9">
                            <h3>Livingston Co-op</h3>
                            <p> A cooperative community in Capitol Hill</p>
                        </div>
                </div>
        </div>
    </div>

    <!--divider-->
    <div class="divider">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="divider-wrapper divider-one">
                    <h2>Owners & Current Tenants</h2>
                    </div>
                </div>
            <div class="col-md-4 col-sm-6">
                <div class="divider-wrapper divider-two">
                    <h2>Prospective Owners</h2>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="divider-wrapper divider-three">
                    <h2>Community Members</h2>
                </div>
            </div>
        </div>

    <!-- about section -->
    <div id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="{% static 'images/denny.jpg' %}" class="img-responsive" alt="about img">
                    </div>
                    <div class="col-md-6 col-sm-12 about-des">
                        <h2>Startup Business</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
                        <a href="about.html" class="btn btn-default">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    
    <!--footer-->
    <footer>
        <div class="input-group">
            <form action="#" method="post">
                <input name="email" type="email" placeholder="Please enter your email" class="form-control" autorequired>
                <button type="submit" name="submit" class="btn email">Submit</button>
            </form>
        </div>

    </footer>



<!-- javascript js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/nivo-lightbox.min.js' %}"></script>
    </body>
</html>