{% extends 'base.html' %}
{% block content %}
<div class='container'>
<h2>Livingston Members</h2>
<div class='table responsive'>
<table class = 'table table-bordered' >
    <tr>
    <thead class='dark'>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Unit Number</th>
        <th>Owner?</th>
    </thead>
    </tr>
    {% for c in members %}
    <tr>
        <td>{{ c.FirstName }}</td>
        <td>{{ c.LastName }}</td>
        <td>{{ c.UnitNum }}</td>
        <td>{{ c.Owner }}</td>
    </tr>
    {% endfor %}
</table>
</div>
</div>

{% endblock %}