/*
OneTel Template
http://www.templatemo.com/tm-468-onetel
*/

body
  {
      background: #101010;
      color: #808080;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
  }

@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

/*heading section*/
h1,h2,h3,h4 {
  color: #fff;
  font-weight:bold;
}

h1,h2 {
  font-size: 30px;
}

/*button*/
.btn {
  background:transparent;
  border: 3px solid #fff;
  border-radius: 0px;
  box-shadow: none;
  color: #fff;
  padding: 14px 18px;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.5s ease-in;
}

.btn:hover {
  background: #009988;
  border-color: transparent;
}

/* navigation */

.navbar-default {
  background: #337ab7;;
  border: none;
  border-left: 7px solid #5cb85c;;
  padding-right: 40px;
  margin: 0 !important;
  position: relative;
  top: 20px;
}

 .navbar-default .navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: 40px;
  padding-top: 10px;
  
}

.navbar-default .navbar-nav li a {
  color: #f2f2f2;
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
  transition: all 0.4s ease-in;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav li > a:focus {
  color: #ffa500;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffa500;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  background: #20c997;
  border-radius: 0px;
  border: none;
  margin-top: 20px;
  margin-bottom: 30px;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.active {
  background: #333;
}

#home {
  background: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
  padding-top: 180px;
  padding-bottom: 100px;

}

/*divider*/
.divider {
  color: #fff;
  text-align: center;
}

.divider h2 {
  padding-bottom: 4px;
}

.divider .divider-wrapper {
  padding: 40px 20px;
  position: relative;
  bottom: 40px;
  transition: all 0.4s ease-in;
}

.divider .divider-wrapper:hover {
  bottom: 60px;
  cursor: pointer;
}

.divider .divider-one {
  background: #337ab7;
}

.divider .divider-two {
  background: #c14000;
}

.divider .divider-three {
  background: #ffa500;
}